<style>
	.m-l-10 {
		margin-left: 10px;
	}
	.col-xs-4 {
        padding-left:2px;
        padding-right:2px;
	}
    .text-break {
      display:block;
	  word-wrap: break-word;
	  word-break: break-all;
    }  
    .modal-body{
      padding:5px;
    }
	
</style>

<script type="text/ng-template" id="detailModalMM.html">  
         <div class="modal-body" stop-event="touchend">   
          <div class="row">
                        料号:{{items.pr_code}}
                       仓库：{{items.wh_code}}
                       储位：{{items.location}}
          </div>       
            <table id='tableResult' cellspacing='0' cellpadding='3' class="" style="font-size:7px!important;" >
                <thead>
                   <tr style='background-color : #eee;'>
                       <td style='width : 100px;' > 条码  </td>
                       <td style='width : 45px;'> 数量  </td>
 					   <td style='width : 60px;'> 供应商  </td>
                       <td style='width : 60px;'>入库日期 </td>
                   </tr>
                </thead>
               <tr ng-repeat='item in items' >
                 <td style='width : 100px;' class="text-break" > {{item.bar_code}} </td>
                 <td>{{item.bar_remain}} </td>
                 <td style='width : 60px;'>{{item.ve_shortname}}</td>
                 <td >{{item.bar_indate|date:'yy-MM-dd'}} </td>
               </tr>
            </table>
         </div>  
         <div class="modal-footer">  
             <button class="btn-sm btn-warning col-xs-2" ng-click="cancel()">关闭</button>  
         </div>  
 </script>  
         
<div ng-controller="CheckCtrl" style="min-height: 400px;">	
    <div><a ng-href="#/checkContents" class="m-l-15 btn btn-success btn-sm m-t-10 m-b-10" > 返回 </a></div>	
	<div style="margin-bottom:12px">
	    <input type="text" class="col-xs-4 m-l-15 " id="prodcode" ng-model="prodcode" placeholder="物料编号" ng-keyup="search($event)" focus-me reset-field required>
	    <input type="text" class="col-xs-4 m-l-10" id="whcode" ng-model="whcode" placeholder="仓库"  ng-keyup="search($event)" >	  	 
	    <button class="btn btn-success btn-sm m-l-10 " ng-click="checkMM(prodcode,whcode)" >查找</button>
	</div>	
	<div class="m-b-6 col-xs-12">
	  <div class="col-xs-4 " >{{pr_detail}}</div>
	  <div class="col-xs-8 text-overflow">{{pr_spec}}</div>  
	</div>  
	<div class="col-xs-12  col-sm-11 col-sm-offset-1">
		<table ng-table="tableParams" 
			class="table table-bordered table-striped ng-table-rowselected"  >
			<tr >
			<th width="30%">仓库</th>
			<th width="30%">储位</th>
			<th width="30%">数量</th>
			</tr>
			<tr ng-repeat="item in $data"
	                ng-class="{'active': item.$selected}" ng-click="item.$selected = !item.$selected; showMMDetail(item)">
	            <td class="text-center">{{item.bar_whcode}}</td>
	            <td class="text-center">{{item.bar_location}}</td>
	            <td class="text-center">{{item.bar_remain}}</td>        
			</tr>			
		</table>
	</div>
</div>
