<style>
	.m-l-18 {
		margin-left: 18px;
	}
     .form-group{
	     margin-bottom:5px;
	     margin-left:0px!important;
	     margin-right:0px!important;
	}
	.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-6,.col-xs-7 {
        padding-left:1px;
        padding-right:1px;
	}
</style>
<div ng-controller="MPrepareFeederCtrl" style="min-height: 400px;" class="m-t-10">
	<a href="#/manageContents" class="btn btn-success btn-sm  col-xs-2 col-xs-offset-1 m-b-10" >返回</a>
	<div class='col-xs-12 m-b-10'>
	   <form name="form" class="form-horizontal col-sm-offset-1 block" id="form">  
		  <div class="form-group m-t-5">
		      <label for="mp_code" class="col-sm-2 col-xs-2 control-label" name="required-label">备料单</label>
		      <div class='col-sm-5 col-xs-7 '>
		          <input type="text" class="form-control" placeholder="请录入备料单号" ng-model="makePrepare.mp_code" id="mp_code" 
				       focus-me required typeahead="state for state in suggestions($viewValue)"></input>	               
		      </div>	             
		  </div>		            
		  <div class="form-group">
		       <button ng-click="searchMp(makePrepare.mp_code)"  class="btn btn-success btn-sm  col-xs-2 col-xs-offset-4" ng-disabled="form.$invalid ">确认</button>
		  </div>		
	   </form>				     
	</div>
	<div class="col-xs-12">
		<table ng-table="tableParamsMP" 
			class="table table-bordered table-striped ng-table-rowselected " ><!-- show-filter="true" -->			
			<tr ng-repeat="item in $data|filter:makePrepare" ng-click="item.$selected = !item.$selected;searchMp(item.mp_code)"
		        ng-class="{'active': item.$selected}">
				<td data-title ="'ID'" ng-show = 'false'>{{item.mp_id}}</td>
				<td data-title ="'备料单'">{{item.mp_code}}</td>
				<td data-title ="'制造单'"  >{{item.mp_makecode}}</td>
				<td data-title ="'产线'">{{item.mp_linecode}}</td>			     
			</tr>
		</table>
	</div>
</div>