.x-tab {
	border-width: 0;
	
}
.x-tab button .x-tab-inner {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 -2px;
	display: block;
	text-align: center;
	white-space: nowrap;
	font-weight: bold;
	font-family: "microsoft yahei", sans-serif; 
	font-size:13.5px;
	color: #c0c0c0;
}

.x-border-box .x-tab-bar-top .x-tab-bar-strip {
    height: 1px;
}

/* form内tabpanel标题样式 */
.x-tab-active button .x-tab-inner {
 	 color: #333; 
} 
.x-tab-default-top-active {
     border-bottom: #333 3px solid !important; 
}
.x-tab-default-top{
	 padding: 0 0; 
	 -webkit-box-shadow:none;
	  background-color:#fff;/*#f1f1f1*/
	  background-image:none;
}
.x-tab-top-active{
  background-image:none !important; 
  background-color:#fff;/*#f1f1f1*/
}
.x-tab-bar{
   background-color:#fff;
   background-image:none !important; 
}
.x-tab-bar-top .x-tab-bar-body {
   
    border-width: 0px 0px 0;
    padding: 1px 0 3px;
}
.x-border-box .x-tab-bar-top .x-tab-bar-body {
  /* height: 30px; */
}
.x-tab-bar-body{
	border:none !important;
}
.x-tab-bar-top .x-tab-bar-strip{
	 background-color: #e0e0e0;
	 border-width: 0.5px 0px 0;
}

.x-form-item {
   font-family: "microsoft yahei", sans-serif; 
}
.x-form-item-label{
	font-size: 13.5px;
	color: #404040;
}
.x-form-text-default{
 background-color: #fff;
}
.x-panel-header-text {
	font-size: 13.5px;
	font-weight: normal; 
}
.x-panel-default-framed{
	background-color: #fff;
}
/* form item 上下间距 */
.x-form-item{
	margin-top: 8px;
    margin-bottom: 2px;
}

.x-form-field-multi .x-form-item {
	margin-bottom: 0;
	margin-top:0;
}
 .x-panel-body-default{
	/* border:none!important; */
	 border-width: 0;
}
.x-panel {
 border-width: 0 
} 

.btn-split{
	background-color: #f0f0f0;
	margin: 3px 0px 0px 0px;
}

.x-btn-group-body .x-table-layout-cell {
    background-color: #f0f0f0;
    vertical-align: top;
}

.x-toolbar .x-toolbar-text {
    margin-left: 0px;
    margin-right: 0px;
}

.x-btn-group-default-framed {
	border-radius: 4px;
    border-width: 1px;
    padding: 0 0;
}
.x-btn-group-body{	
	padding: 0 0;
}
.x-btn-default-small .x-btn-inner,.x-btn-default-medium .x-btn-inner,.x-btn-default-large .x-btn-inner,.x-btn-default-toolbar-small .x-btn-inner,.x-btn-default-toolbar-medium .x-btn-inner,.x-btn-default-toolbar-large .x-btn-inner{
	font-size: 13px;
	font-family: "microsoft yahei", sans-serif; 
	color:#333;	
}
.x-btn-default-toolbar-medium .x-btn-inner {
	font-size: 13px;
	font-weight: normal;
	font-family: tahoma, arial, verdana, sans-serif;
	color: #333333;
	background-repeat: no-repeat;
	padding: 0 0;
}
.x-btn-default-toolbar-small {
    border-radius: 0;
    padding: 4px 4px 4px 4px;
    border-width: 1px;
    border-style: solid;
    border-color:#dfdfdf!important;
    background-color: #dfdfdf;
}
.x-btn-default-toolbar-small-over {
	border-color: #f5f5f5;
	background-image: none;
	background-color: #f5f5f5;
   
}

.x-btn {
    display: inline-block; 
    position: relative;
    zoom: 1;
    outline: 0;
    cursor: pointer;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
}
.x-btn-default-toolbar-small {
    border-color: #ffffff;
}
.x-panel-body-default-framed {
	background: #fff;
}
.x-form-text, textarea.x-form-field {
   /* border-color: #c2d1df; */
 }
 
 .x-border-box .x-form-text {
    height: 24px;
}
 
 .x-toolbar-default{
   background-color:#fff;
   background-image:none;
 }
.x-panel .x-grid-body{
 background:#ffffff; 
 }
 
 .x-grid-row-alt .x-grid-cell,.x-grid-row-alt .x-grid-rowwrap-div {
	background-color: #ffffff;
}

.x-grid-row-over .x-grid-cell,.x-grid-row-over .x-grid-rowwrap-div {
	border-color: #eaeaea;
	background-color: #bcd2ee;
	color: black;
}

.x-grid-row-focused .x-grid-cell,.x-grid-row-focused .x-grid-rowwrap-div
{
	border-color: #ddd;
	background-color: #efefef
}

.x-grid-row-selected .x-grid-cell,.x-grid-row-selected .x-grid-rowwrap-div
	{
	border-style: dotted;
	border-color: #a3bae9;
	background-color: #bcd2ee !important;
	color: black;
	font-weight: normal
}
/* grid标题 */
.x-column-header-inner {
	font-weight: 600;
    font-size: 12px;
    zoom: 1;
    position: relative;
    white-space: nowrap;
    line-height: 26px;
    padding: 0px 6px;
}
.x-grid-header-ct {
	height: 26px;
	background-color:#f4f6f9;
	background-image:none;
}
.x-column-header {
	background-color:#eeeeee;
	background-image:none;
	/* border-right: 0.5px solid #b4b4b4; */
	border-bottom: 0.5px solid #b4b4b4;
}
.x-grid-header-1 .x-column-header-text {
	font: 14px/1.5 "microsoft yahei", "\5b8b\4f53", Tahoma, Geneva,
		sans-serif;
	font-weight: 500;
	height:28px;
	line-height:28px !important;
}
.x-column-header-over,.x-column-header-sort-ASC,.x-column-header-sort-DESC
	{
	border-left-color: #eaeff4;
	border-right-color: #eaeff4;
	background-image: none;
	background-color: #eaeff4;
}
/*#e9e9e9;*/
.x-grid-row{
	border:1px solid red !important; 
}
.x-grid-row .x-grid-cell{
	font-size: 13px;
	font-family: "microsoft yahei", sans-serif; 
	border-color: #e9e9e9;
}
.x-panel-with-col-lines .x-grid-row .x-grid-cell {
    padding-right: 0;
    border-right: 1px solid #ffffff;
}
.x-grid-row .x-grid-cell-special{
	background-color:#f5f5f5;
	background-image:none;
	border-bottom-width: 1px;
}
.x-btn-default-toolbar-small-disabled {
	background-image: none;
    background-color: #008040;   
    opacity: 0.5;
}
.x-btn-default-toolbar-small-disabled .x-btn-inner{
	color:#f0f0f0 !important;
}
.x-form-field {
	font-size: 13px;
	font-family: "microsoft yahei", sans-serif; 
	color: #404040;
}
.x-panel-body-default{
	color:#333;
}
.x-btn-gray {
	background-color: #f0f0f0; 
	display: inline-block;
	cursor: pointer;
	text-align: center;
	border-style:none;
}
.x-btn-gray:hover {
	color:#333 !important; 
	background-color: #bcd2ee;
}

.x-btn-gray:active {
    position: relative;
	top: 1px;
}

.x-toolbar{
	margin-top: 2px;
	background-color: #f0f0f0;
	/* border-bottom: #e0e0e0 1px solid !important;  */
	padding: 5px 0 5px 2px !important;
}

.x-panel .x-grid-body {
    background: #ffffff;
    border-color: #d0d0d0;
    border-style: solid;
    border-width: 0px;
    border-top-color: #c5c5c5;
}

.x-border-box .x-form-trigger {
    height: 24px !important;
}

.add{
	background-image: url(../../images/oldbutton/add.png) !important;
}
.save{
	background-image: url(../../images/oldbutton/save.png) !important;
}
.delete{
	background-image: url(../../images/oldbutton/delete.png) !important;
}
.copy{
	background-image: url(../../images/oldbutton/copy.png) !important;
}
.send{
	background-image: url(../../images/oldbutton/send.png) !important;
}
.query{
	background-image: url(../../images/oldbutton/query.png) !important;
}
.print{
	background-image: url(../../images/oldbutton/print.png) !important;
}
.close{
	background-image: url(../../images/oldbutton/close.png) !important;
}
.toquery{
	background-image: url(../../images/oldbutton/toquery.png) !important;
}
.refresh{
	background-image: url(../../images/oldbutton/refresh.png) !important;
}
.more{
	background-image: url(../../images/oldbutton/more.png) !important;
}