* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

*,*:before,*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

p {
	margin: 0 0 10px;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

#header-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	background-color: #FF7300;
	height: 50px;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;
	-moz-box-shadow: inset 0 0 1px #fff, inset 4px 4px 20px
		rgba(255, 255, 255, 0.33), inset -2px -2px 10px
		rgba(255, 255, 255, 0.25);
	-webkit-box-shadow: inset 0 0 1px #fff, inset 4px 4px 20px
		rgba(255, 255, 255, 0.33), inset -2px -2px 10px
		rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 0 1px #fff, inset 4px 4px 20px
		rgba(255, 255, 255, 0.33), inset -2px -2px 10px
		rgba(255, 255, 255, 0.25);
}

#header-container div {
	line-height: 50px;
	margin-left: 5px;
	display: inline-block;
}

#header-container a {
	color: #fff;
}

#header-container .left {
	float: left;
}

#header-container .right {
	float: right;
}

#header-container .active {
	z-index: 10;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px
		rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px
		rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)
		inset;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px
		rgba(0, 0, 0, 0.1) inset;
}

#header-container .homeIcon {
	width: 20px;
	height: 22px;
	background-size: 20px 22px;
	margin: 14px 3px;
	background-image: url('img/home.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: inline-block;
	float: left;
}

#header-container .clubIcon {
	width: 25px;
	height: 26px;
	background-size: 25px 26px;
	margin: 14px 3px;
	background-image: url('img/club_r.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: inline-block;
	float: left;
}

#header-container .appIcon {
	width: 20px;
	height: 22px;
	background-size: 20px 22px;
	margin: 15px 3px;
	background-image: url('img/app.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: inline-block;
	float: left;
}

#header-container a div {
	margin-left: 1px;
}

#header-container ul {
	width: 96%;
	list-style: none;
	text-align: center;
	left: -9999px;
	position: absolute;
	background: #f9f9f9;
}

#header-container ul.active {
	left: 8px;
	padding-bottom: 40px;
	z-index: 10;
}

#header-container ul li {
	width: 32%;
	float: left;
	border: 1px solid #ddd;
	border-left: 0px;
	border-top: 0px;
	float: left;
	border-top: 0px;
}

#header-container ul li:hover,#header-container ul li:active,#header-container ul li.active
	{
	background: #FF7300;
}

#header-container ul li:active a,#header-container ul li.active a {
	color: white;
	letter-spacing: 1px;
}

#header-container ul li a {
	border-left: 0px;
	border-top: 0px;
	padding: 10px 0px;
	font-size: 11px;
	color: #333;
	letter-spacing: normal;
}

#app-container {
	margin: 15px 14px;
	padding-top: 15px;
	width: 100%;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

#app-container ul {
	width: 100%;
	display: table;
	border-collapse: collapse;
	margin-top: 15px;
	list-style: none;
}

#app-container ul li {
	display: table-cell;
	width: 25%;
	text-align: center;
	vertical-align: middle;
	padding-bottom: 5px;
}

#app-container .iconIn {
	width: 52px;
	height: 52px;
}

#app-container .desc {
	line-height: 12px;
	font-size: 12px;
	color: #333333;
}

#app-container .count {
	color: #FF7300;
}

#app-container .info {
	display: none;
	padding-top: 20px;
}

.info .info-item {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}

.info .info-item:hover,.info .info-item.active {
	background-color: #FF7300;
}

.info .info-item .info-item-heading {
	color: #333;
	margin-top: 0;
	margin-bottom: 5px;
}

.info .info-item .info-item-heading:hover,.info .info-item.active .info-item-heading
	{
	color: white;
}

.info .info-item p {
	line-height: 2;
	margin: 0 0 10px;
}

.info .info-item .info-item-text {
	margin-bottom: 0;
	line-height: 1.3;
	color: #333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#frame-container {
	display: none;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	height: 100%;
}

#footer-container {
	background: #f9f9f9;
	text-align: center;
	font: 12px/1.5 Tahoma, Arial, "\5b8b\4f53", sans-serif;
	color: #999;
	border-top: 1px solid #ddd;
	-moz-box-shadow: inset 0 20px 20px -20px #333333;
	-webkit-box-shadow: inset 0 20px 20px -20px #333333;
	box-shadow: inset 0 20px 20px -20px #333333;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 9999;
	opacity: .60;
	filter: alpha(opacity = 60);
	_bottom: auto;
	_width: 100%;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop + 
		 document.documentElement.clientHeight-this.offsetHeight- ( parseInt(this.currentStyle.marginTop
		, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
}

#footer-container .link {
	height: 1em;
	line-height: 1em;
}

#app-container .active {
	position: relative;
	z-index: 2;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px
		rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px
		rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)
		inset;
}